#!/usr/bin/make -f
# -*- makefile -*-

DEB_LDFLAGS_MAINT_APPEND=-Wl,-Bsymbolic-functions -Wl,--as-needed
include /usr/share/dpkg/buildflags.mk
export CFLAGS CPPFLAGS LDFLAGS

%:
	dh $@

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=libam7xxx0.1-dbg
